@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f0f0;
}

.gradient {
  background: linear-gradient(180deg, #6a82ff 0%, #e16aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gilroy {
  font-family: "Gilroy", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
